@model  List<MusicApplication.Models.Cancion>
@{
    ViewBag.Title = "Top 10";
}

<table class="table table-striped">
    <tr class="danger">
        <th>Top</th>
        <th>Titulo</th>
        <th>Artista</th>
        <th>Género</th>
        <th>Año</th>
        <th>Audio</th>
    </tr>
    <tbody>
        @foreach (var cancion in Model)
        {
            <tr>
                <td><h1>@cancion.id</h1></td>
                <td>
                    <h3>@cancion.title</h3>
                </td>
                <td>
                    <h4>@cancion.artist</h4>
                </td>
                <td>
                    <h4>@cancion.musicgenre</h4>
                </td>
                <td>
                    <h4>@cancion.year</h4>
                </td>
                <td>
                    <a class="thumbnail">
                        <img src="/img/album/@cancion.image" alt="...">
                    </a>
                    <audio controls>
                        <source src="/Canciones/@cancion.path" type="audio/mp3">
                    </audio>
                </td>
            </tr>
        }
    </tbody>
</table>
